.ProfileCard {
    padding: 15px;
    max-width: 430px;
    width: 100%;
}

.Name {
    font-size: 20px;
    height: 20px;
    font-weight: bold;
}

.Username {
    color: gray;
}

.ProfilePhoto {
    border-radius: 50%;
}
